<mat-card>

  <h1>Les méthodes:</h1>
  <h2></h2>
    <div class="example-button-row">
        <button mat-flat-button color="warn">Observable</button>
        <button mat-flat-button color="primary" (click)="trier()">Trier</button>
        <button mat-flat-button color="accent">Search</button>
        <button mat-flat-button color="warn">Aléatoire</button>
      </div>


<div class="cardModule"> 
    <mat-accordion *ngFor="let fonctions of functio ">
        <mat-expansion-panel>
      
      
          <mat-expansion-panel-header >
            <mat-panel-title>

          <div class="titre">  <ng-container>TYPE:</ng-container></div>
           <div class="contenu" #typeFonction> {{fonctions.typeFonction}} </div>
            </mat-panel-title>
            <mat-panel-title>

           <div class="titre"><ng-container class="titre"> VERSION D'ANGULAR:</ng-container></div>
        <div class="contenu">  {{fonctions.versionAngular}} </div>
            </mat-panel-title>
            <mat-panel-description >
            <div class="titre"> <ng-container> NOM:</ng-container></div>
             <div class="contenu">   {{fonctions.nomFonction}}  {{panelOpenState ? '' : ''}}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="titre"> <ng-container>METHODE DE LA FONCTION:</ng-container></p>
           <p>{{fonctions.methodeFonction}}</p>
              <p class="titre"><ng-container>COMMENTAIRE:</ng-container></p>
           <p>{{fonctions.commentaire}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    
      
</div>
</mat-card>