<mat-card>

  <h1>Les méthodes:</h1>
  <h2></h2>
    <div class="example-button-row">
        <button mat-flat-button color="warn">Avec observable</button>
        <button mat-flat-button color="primary">Trier</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button  color="primary">Disabled</button>
        <a mat-flat-button routerLink="." color="accent">Link</a>
      </div>


<div> 
    <mat-accordion>
        <mat-expansion-panel>
      
      
          <mat-expansion-panel-header *ngFor="let fonctions of functio ">
            <mat-panel-title>
              Self aware panel {{fonctions.nomFonction}}
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    
      
</div>
</mat-card>