<mat-card>

  <h1>Les méthodes:</h1>
  <h2></h2>
    <div class="example-button-row">
        <button mat-flat-button color="warn">Avec observable</button>
        <button mat-flat-button color="primary">Trier</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button  color="primary">Disabled</button>
        <a mat-flat-button routerLink="." color="accent">Link</a>
      </div>


<div class="cardModule"> 
    <mat-accordion *ngFor="let fonctions of functio ">
        <mat-expansion-panel>
      
      
          <mat-expansion-panel-header >
            <mat-panel-title>

            TYPE:
            {{fonctions.typeFonction}} 
            </mat-panel-title>
            <mat-panel-title>

            Version d'angular:
        {{fonctions.versionAngular}} 
            </mat-panel-title>
            <mat-panel-description >
            NOM:
              {{fonctions.nomFonction}}  {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>METHODE DE LA FONCTION:</p>
           <p>{{fonctions.methodeFonction}}</p>
              <p>COMMENTAIRE:</p>
           <p>{{fonctions.commentaire}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    
      
</div>
</mat-card>