
  
    <mat-toolbar id="menu">
        <mat-toolbar-row>
            <img src="assets\logoAnugular.jpg">
          
      
          <button mat-raised-button color="warn">
                <a mat-raised-button routerLink="." color="warn">Angular-CLLI</a>
          </button>
          <button mat-raised-button color="warn">
              <a mat-raised-button routerLink="." color="warn"> Fonction</a>
           </button>
           <button mat-raised-button color="warn">
              <a mat-raised-button routerLink="." color="warn">Angular-Material</a>
            </button>
  <button mat-raised-button color="warn">
    <a mat-raised-button routerLink="." color="warn">LOGIN</a>
  </button>
  
         


      </mat-toolbar-row>

    </mat-toolbar>

    
